body {
    font-family: Arial, Helvetica, sans-serif;
}

/*------ Navbar ------*/
.navbar {
    background-color: #212529;
    color: white;
}

#sign-up {
    background-color: #212529;
    border-color: orange;
    color: orange;
    font-size: 15px;
}

#sign-up:hover {
    background-color: orange;
    color: #212529;
}

/*------ Header ------*/

.header {
    height: 500px;
    width: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2020/01/20/00/08/pizza-4779230_960_720.jpg');
    background-size: cover;
}

.inner {
    text-align: center;
    padding-top: 140px;
    color: white;
}