body {
    font-family: arial, sans-serif;
}

/*------ Nav-bar ------*/
.top_nav li a {
    float: right;
    margin: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    padding-right: 5px;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.top_nav a:hover {
    text-decoration: underline 1px solid rgb(119, 119, 119);
}

/*------ Sign In Button ------*/
#btn {
    display: flex;
    float: right;
    margin-right: 30px;
    width: 70px;
    height: 33px;
    font-size: 13px;
    text-align: center;
    background-color: #4285f4;
    color: white;
    border: 1px solid #4285f4;
    border-radius: 2px;
    padding-top: 6px;
    padding-left: 12px;
}

/*------ Menu Icon ------*/
.menu {
    float: right;
    padding-right: 10px;
    padding-top: 7px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

/*------ Main Content ------*/
.container {
    padding-top: 185px;
    text-align: center;
}

/*------ Search Bar ------*/
.icon {
    width: 15px;
    height: 15px;
    position: absolute;
    padding-top: 38px;
    padding-left: 20px;
}

input {
    width: 30%;
    border: 1px solid #dbd9d9;
    border-radius: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
    transition: box-shadow 0;
}

input:hover {
    box-shadow: 0 0 5px #dbd9d9;
}

/*------ Buttons ------*/
.button button {
    display: inline;
    margin: 5px;
    width: 140px;
    height: 40px;
    font-size: 14px;
    color: black;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: none;
}

.button button:hover {
    box-shadow: 0 0 5px #dbd9d9;
    border:1px solid #dbd9d9;
}

.button button:hover span {
    display: none;
}

.button .lucky:hover::before {
    content: "Not So Lucky :(";
}

/*------ Links ------*/
.jugement {
    position: relative;
    left: 43.5%;
    border: 1px solid black;
    width: 13%;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jugement a {
    color: blue;
}

.offered {
    font-size: 13px;
    padding-top: 5px;
}

.offered a {
    color: blue;
}

/*------ footer ------*/
footer {
    line-height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeeeede;
    border-top: solid 1px #e4e4e4;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

footer p {
    padding-left: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: rgb(119, 119, 119);
    font-size: 15px;
}

hr {
    color: #dbd9d9;
    margin-left: -30px;
    padding-right: 60px;
}

.btm_nav {
    display: inline;
}

/*------ Left Nav ------*/
.left_nav {
    float: left;
    padding-top: 5px;
}

.left_nav li {
    display: inline-block;
    padding: 5px;
}

.left_nav li a {
    color:rgb(119, 119, 119);
    padding-right: 15px;
    font-size: 15px;
    text-decoration: none;
}

.left_nav li a:hover {
    text-decoration: underline 1px solid rgb(119, 119, 119);
}

/*------ Right Nav ------*/
.right_nav {
    float: right;
    padding-top: 5px ;
    padding-bottom: 10px;
}

.right_nav li {
    display: inline-block;
    padding: 5px;
}

.right_nav li a {
    color:rgb(119, 119, 119);
    padding-left: 15px;
    font-size: 15px;
    text-decoration: none;
}

.right_nav li a:hover {
    text-decoration: underline 1px solid rgb(119, 119, 119);
}